@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", serif; 
    background-color: rgb(236, 236, 230); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(151, 158, 134);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 20px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu a:hover {
    background-color: white;
    color: rgb(151, 158, 134);
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    margin-left: 8px;
    font-size: 14px;
    transition: transform 0.3s;
}


.container {
   border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px; /* Ajout d'un espace entre les containers */
    max-width: 800px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.text h2 {
    color: rgb(151, 158, 134);
}


.text {
    margin-right: 20px;
    max-width: 400px;
}

.divider {
    width: 1px;
    height: 100%;
    background-color: #000;
    margin: 0 20px;
}

.image img {
    border-radius: 20px;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease;
}

.container:hover .image img {
    transform: scale(1.08);
}
.back-to-home {
  position: fixed;
  bottom: 20px; /* Distance du bas de la page */
  right: 20px; /* Distance du bord droit de la page */
  background-color: rgb(151, 158, 134); /* Couleur de fond du bouton */
  padding: 15px; /* Espacement interne du bouton */
  border-radius: 50%; /* Bords arrondis du bouton pour une forme circulaire */
  text-decoration: none; /* Supprime le soulignement du lien */
  font-size: 24px; /* Taille de l'icône */
  color: white; /* Couleur de l'icône */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée du bouton */
  transition: background-color 0.3s, transform 0.3s; /* Effets de transition */
}

.back-to-home:hover {
  background-color: rgb(130, 140, 112); /* Couleur de fond au survol */
  transform: scale(1.05); /* Agrandissement léger au survol */
}

