<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culture des Oliviers</title>
    <link rel="stylesheet" href="../css/plantation.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="culture.html">Culture</a></li>
                <li><a href="plantation.html">Plantation</a></li>
                <li><a href="#A">Calendrier</a></li>
                <li><a href="recolte.html">Récolte</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <a href="zitoon.html" class="back-to-home"><img src="../images/lo.png" style="width: 50px; height: 50px;"></a>

    <div class="container" style="margin-top: 100px;">
        <div class="text">
            <h2>La Culture des Oliviers</h2>
            <p>
                Bienvenue chez Zitoon, votre portail vers l'univers authentique des oliviers. La culture des oliviers est une tradition millénaire profondément enracinée dans les paysages ensoleillés de la Méditerranée. Symbole de paix, de sagesse et de prospérité, l'olivier est bien plus qu'un simple arbre ; il est le gardien de secrets anciens et le témoin de l'histoire de civilisations entières.
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/culture.jpg" alt="Culture des Oliviers" />
        </div>
    </div>

    <div class="container">
        <div class="text">
            <h2>Un Héritage Millénaire</h2>
            <p>
                L'olivier, avec ses branches tordues et son feuillage argenté, est cultivé depuis des millénaires. Ses racines plongent profondément dans le sol, symbolisant la longévité et la résilience. Chez Zitoon, nous honorons cet héritage en cultivant nos oliviers avec un respect profond pour la nature et les traditions ancestrales.
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/pot.webp" alt="Héritage Millénaire" />
        </div>
    </div>

    <div class="container">
        <div class="text">
            <h2>Les Variétés d'Oliviers à Travers le Monde</h2>
            <p>
                Chez Zitoon, nous célébrons la diversité des oliviers cultivés à travers le monde. Chaque pays possède ses variétés uniques. En Espagne, les Arbequina, Picual et Hojiblanca produisent des huiles allant de douces à robustes. En Italie, les Frantoio, Leccino et Moraiolo sont prisées pour leurs arômes complexes. La Grèce, la Koroneiki et la Kalamata, aux notes herbacées et fruitées. En France, les Picholine, Aglandau et Cailletier se distinguent par leurs saveurs équilibrées. Au Portugal, les Galega, Cobrançosa et Cordovil se démarquent par leur douceur. En Tunisie, les Chemlali et Chetoui produisent des huiles herbacées, tandis que le Maroc, avec ses Picholine Marocaine et Dahbia, offre des huiles équilibrées. En Turquie, les Memecik et Ayvalik révèlent des saveurs fruitées. La Californie et l'Australie apportent des touches internationales avec leurs variétés locales. Chacune racontant l'histoire de sa terre d'origine.
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/pp.jpg" alt="Variétés d'Oliviers" />
        </div>
    </div>
</body>
</html>
