<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zitoon culture</title>
  <link rel="stylesheet" href="../css/culture.css">
</head>
<body>

  <header>
    <nav class="menu">
        <ul>
            <li><a href="#accueil">Culture</a></li>
            <li><a href="plantation.html">Plantation </a></li>
            <li><a href="#A">Calendrier</a></li>
            <li><a href="recolte.html">Récolte</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
  <a href="zitoon.html" class="back-to-home"><img src="../images/lo.png" style="width: 50px; height: 50px;"></a>

  <div class="oliv" style="display: flex;"><div><img src="../images/lo.png" style="width: 60px; height: 60px;"> </div><div style="padding-top: 10px; padding-left: 50px;">La Culture des Oliviers avec Zitoon</div></div>


<div class="contact" >
    <div id="text">  Bienvenue chez Zitoon, votre portail vers l'univers authentique des oliviers. La culture des oliviers est une tradition millénaire profondément enracinée dans les paysages ensoleillés de la Méditerranée. Symbole de paix, de sagesse et de prospérité, l'olivier est bien plus qu'un simple arbre ; il est le gardien de secrets anciens et le témoin de l'histoire de civilisations entières.</div>
      <img src="../images/culture.jpg" class="cult">
  </div>
  <div class="oliv" style="display: flex;"><div><img src="../images/lo.png" style="width: 60px; height: 60px;"> </div><div style="padding-top: 10px; padding-left: 100px;">Un Héritage Millénaire</div></div>


  <div class="contact" >
     <img src="../images/pot.webp"  class="img">  <div id="text"> 
        L'olivier, avec ses branches tordues et son feuillage argenté, est cultivé depuis des millénaires. Ses racines plongent profondément dans le sol, symbolisant la longévité et la résilience. Chez Zitoon, nous honorons cet héritage en cultivant nos oliviers avec un respect profond pour la nature et les traditions ancestrales.</div>
        
    </div>
    <div class="oliv" style="display: flex;"><div><img src="../images/lo.png" style="width: 60px; height: 60px;"> </div><div style="padding-top: 10px;"> Les Variétés d'Oliviers à Travers le Monde avec Zitoon</div></div>
    <div class="contact1" >
        <div id="text1">  Chez Zitoon, nous célébrons la diversité des oliviers cultivés à travers le monde.
           Chaque pays possède ses variétés uniques. 
            En Espagne, les Arbequina, Picual et Hojiblanca produisent des huiles allant de douces à robustes.
             En Italie, les Frantoio, Leccino et Moraiolo sont prisées pour leurs arômes complexes.
              La Grèce, la Koroneiki et la Kalamata, aux notes herbacées et fruitées. 
              En France, les Picholine, Aglandau et Cailletier se distinguent par leurs saveurs équilibrées.
               Au Portugal, les Galega, Cobrançosa et Cordovil se démarquent par leur douceur.
                En Tunisie, les Chemlali et Chetoui produisent des huiles herbacées, 
                tandis que le Maroc, avec ses Picholine Marocaine et Dahbia, offre des huiles équilibrées. 
                En Turquie, les Memecik et Ayvalik révèlent des saveurs fruitées.
                 La Californie et l'Australie apportent des touches internationales avec leurs variétés locales.
                Chacune racontant l'histoire de sa terre d'origine.</div>
          <img src="../images/pp.jpg" class="cult">
      </div>
      <div class="conta" id="con">
        <div style="display: flex; margin-left:600px;"><div><img src="../images/lo.png" style="width: 60px; height: 60px;"> </div><div style="padding-top: 10px; color: white; font-size: 30px;">Zitoon</div></div>

         <div style="display: flex;">
          <div> <img src="../images/OCP-logo-removebg-preview.png" style="width: 200px; height: 150px;"></div>
          <div> <img src="../images/youcode.png" style="width: 160px; height: 100px; margin-top: 25px;"></div>
          <div> <img src="../images/AlMoutmirFR-removebg-preview.png" style="width: 160px; height: 100px; margin-top: 25px;margin-left: 50px;"></div>
         <div>
          <div style="color: white; margin-top: 15px; font-size: 20px; margin-left: 500px;"> Contactez nous sur:</div>
        <div style="display: flex;" ><div><svg  style="height: 50px;width:25px;margin-left:500px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg></div><div style="color: white; margin-top: 15px; font-size: 20px;"> +212 709394578</div></div>
        <div style="display: flex;" ><div> <svg style="height: 50px;width:25px;margin-left:500px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/></svg></div><div style="color: white; margin-top: 15px; font-size: 20px;"> Zitoon_officiel</div></div>
        <div style="display: flex;" ><div>  <svg style="height: 50px;width:25px;margin-left:500px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg></div><div style="color: white; margin-top: 15px; font-size: 20px;"> Zitoonofficiel@gmail.com</div></div>
      </div>  </div> </div> 
</body>
</html>