<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilisation des Oliviers</title>
    <link rel="stylesheet" href="../css/fertilisation.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="culture.html">Culture</a></li>
                <li><a href="plantation.html">Plantation</a></li>
                <li><a href="calendrier.html">Fertilisation</a></li>
                <li><a href="recolte.html">Récolte</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <a href="zitoon.html" class="back-to-home"><img src="../images/lo.png" alt="Logo" style="width: 50px; height: 50px;"></a>
  

    <div class="container" style="  margin-top: 100px;">
        <div class="text">
            <h2>Importance de la Fertilisation</h2>
            <p>
              La fertilisation des oliviers est cruciale pour leur croissance et leur production. Les nutriments essentiels, tels que l'azote, le phosphore et le potassium, soutiennent le développement des feuilles, des racines et des fruits, garantissant une meilleure qualité des olives.            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/comment-entretenir-un-olivier-en-pot.webp" alt="Olivier" />
        </div>
    </div>

  <div style="display: flex;">  <div class="container" >
        <div class="text">
            <h2>Types de Fertilisants
            </h2>
            <p>
              On distingue deux types de fertilisants : organiques et minéraux. Les fertilisants organiques, comme le compost et le fumier, enrichissent le sol en matière organique, tandis que les minéraux offrent des nutriments ciblés pour des ajustements précis des besoins des oliviers.            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/20180418_113310.jpg" alt="Olivier" />
        </div>
    </div>

    <div class="container" style="margin-left: 30px;">    
          <img src="../images/Capture.PNG">     
    </div>
</div>
    <div class="container">
        <div class="text">
            <h2>Méthodes d'Application</h2>
            <p>Les méthodes d'application incluent l'épandage direct, l'incorporation dans le sol et l'application foliaire. Les fertilisants organiques sont souvent épandus directement, tandis que les minéraux peuvent être intégrés avant la plantation ou appliqués autour des arbres. L'application foliaire permet une absorption rapide par les feuilles.<br>
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/©JJM-DSC6469R-1024x682.jpg" alt="Olivier" />
        </div>
    </div>

    <div class="container">
        <div class="text">
            <h2>Timing et Ajustements</h2>
            <p>
              Pour une fertilisation efficace, il est conseillé d'appliquer les fertilisants au début du printemps et éventuellement en été. Une analyse régulière du sol permet d'ajuster les apports, évitant le surdosage qui pourrait entraîner des problèmes de croissance et garantissant une fertilisation adaptée aux besoins des oliviers.            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/olivier-espagne-rechauffement.avif" alt="Olivier" />
        </div>
    </div>













    <footer>
        <p >&copy; 2024 Zitoon. Tous droits réservés.</p>
    </footer>
</body>
</html>
