<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire de Contact</title>
  <link rel="stylesheet" href="../css/olivier.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
  </style>
</head>
<body>

  <div id="bien">Bienvenue sur notre site!</div>
  <p id="zitoon">Zitoon espace des oliviers</p>

  <div class="form-container">
    <div class="image-container">
      <img alt="back" class="img" src="../images/olive.webp">
    </div>
    <div class="form-content">
      <h2>Inscription</h2>
      <div class="container">
        <form action="#" method="post">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" required>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" required>
          </div>
          <div class="form-group">
            <label for="num">Numéro de téléphone</label>
            <input type="text" id="num" name="num" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="mdp">Mot de passe</label>
            <input type="password" id="mdp" name="mdp" required>
          </div>
          <button type="submit">Envoyer</button>
          <a href="compte.html">Vous avez déjà un compte?</a>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
