<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texte et Image Séparés par une Ligne</title>
    <link rel="stylesheet" href="../css/plantation.css">
</head>
<body>
  <header>
      
    <nav class="menu">
        <ul>
            <li><a href="culture.html">Culture</a></li>
            <li><a href="plantation.html">Plantation </a></li>
            <li><a href="#A">Calendrier</a></li>
            <li><a href="recolte.html">Récolte</a></li>
            <li><a href="zitoon.html">Contact</a></li>
        </ul>
      </nav>
      </header>
    
    <a href="zitoon.html" class="back-to-home"><img src="../images/lo.png" style="width: 50px; height: 50px;"></a>

    <div class="container" style="  margin-top: 100px;">
        <div class="text">
            <h2>Plantation des Oliviers</h2>
            <p>
                La plantation des oliviers est une étape cruciale pour assurer la croissance saine et productive de vos arbres. Voici quelques conseils et techniques pour réussir cette étape essentielle.
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/comment-entretenir-un-olivier-en-pot.webp" alt="Olivier" />
        </div>
    </div>

    <div class="container">
        <div class="text">
            <h2>Préparation du Sol</h2>
            <p>
                Avant de planter vos oliviers, il est important de préparer le sol adéquatement. Les oliviers préfèrent un sol bien drainé avec un pH neutre à légèrement alcalin. Si votre sol est trop acide, vous pouvez ajouter de la chaux pour en ajuster le pH. Assurez-vous également que le sol est bien ameubli et exempt de mauvaises herbes.
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/20180418_113310.jpg" alt="Olivier" />
        </div>
    </div>

    <div class="container">
        <div class="text">
            <h2>Choix des Variétés</h2>
            <p>
                Il existe plusieurs variétés d'oliviers, chacune ayant ses propres caractéristiques et avantages. Parmi les variétés les plus courantes, on trouve l'Aglandau, la Picholine, et la Lucques. Le choix de la variété dépendra de votre climat, de la nature de votre sol, et de l'utilisation prévue des olives (huile, table, etc.).
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/Negrette.jpg" alt="Olivier" />
        </div>
    </div>

    <div class="container">
        <div class="text">
            <h2>Techniques de Plantation</h2>
            <p>
                1- Creusez un trou : Le trou doit être deux fois plus large et profond que la motte de l'arbre.<br>
                2- Préparez le trou : Ajoutez un peu de compost ou de fumier bien décomposé au fond du trou.<br>
                3- Plantez l'arbre : Placez l'olivier dans le trou, en veillant à ce que le haut de la motte soit au niveau du sol.<br>
                4- Remplissez et tassez : Remplissez le trou avec de la terre, tassez légèrement pour éliminer les poches d'air.<br>
                5- Arrosez abondamment : Arrosez immédiatement après la plantation pour aider l'arbre à s'établir.<br>
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/©JJM-DSC6469R-1024x682.jpg" alt="Olivier" />
        </div>
    </div>

    <div class="container">
        <div class="text">
            <h2>Conditions Climatiques</h2>
            <p>
                Les oliviers aiment la chaleur et la lumière. Ils prospèrent dans des climats méditerranéens avec des étés chauds et secs et des hivers doux. Assurez-vous que votre site de plantation reçoit beaucoup de soleil et est protégé des vents froids.
            </p>
        </div>
        <div class="divider"></div>
        <div class="image">
            <img src="../images/olivier-espagne-rechauffement.avif" alt="Olivier" />
        </div>
    </div>
    <footer>
      <p >&copy; 2024 Zitoon. Tous droits réservés.</p>
  </footer>
</body>
</html>
